.bg-default {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.no-bg {
    background-color: transparent;
}

.center-center {
    @extend .d-flex, .align-items-center, .justify-content-center;
}

.center-inline {
    @extend .d-inline-flex, .align-items-center, .justify-content-center;
}

.btn-site {
    @extend .ttBold, .center-inline;

    font-size: 12px;
    border-radius: 40px;
    height: 40px;
    padding: 0 40px;
    border: 2px solid $green;
    transition: .2s;
    text-transform: uppercase;

    &.green-purple {
        background-color: $green;
        color: $purple;
        border: 2px solid $green;

        &:hover {
            background-color: transparent;
            color: $purple;
        }
    }

    &.green-white {
        background-color: $green;
        color: $purple;
        border: 2px solid $green;

        &:hover {
            background-color: transparent;
            color: #fff;
        }
    }

    &.btn-header {
        background-color: $purple;
        color: #fff;
        border: 2px solid $purple;

        &:hover {
            background-color: transparent;
            color: $purple;
        }

        @media(min-width: 992px) {
            background-color: $green;
            color: $purple;
            border: 2px solid $green;

            &:hover {
                background-color: transparent;
                color: #fff;
            }
        }
    }

    &.btn-send {
        height: 60px;
        border-radius: 50px;
        width: 100%;
        font-size: 20px;
    }

    &:hover {
        text-decoration: none;
        transition: .2s;
    }
}

.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}
.mb30 {margin-bottom: 30px;}
.mb40 {margin-bottom: 40px;}
.mb50 {margin-bottom: 50px;}
.mb60 {margin-bottom: 60px;}
.mb70 {margin-bottom: 70px;}
.mb80 {margin-bottom: 80px;}
.mb90 {margin-bottom: 90px;}
.mb100 {margin-bottom: 100px;}

.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mt40 {margin-top: 40px;}
.mt50 {margin-top: 50px;}
.mt60 {margin-top: 60px;}
.mt70 {margin-top: 70px;}
.mt80 {margin-top: 80px;}
.mt90 {margin-top: 90px;}
.mt100 {margin-top: 100px;}